<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.name }} | {{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://fumenoid.github.io{{ page.url }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ site.name }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://fumenoid.github.io{{ page.url }}">
  <meta name="twitter:title" content="{{ page.title | escape }}">
  <meta name="twitter:description" content="{{ page.description }}">

  {% if page.thumb_image %}
    {% if page.thumb_image contains '://' %}
      <meta property="og:image" content="{{ page.thumb_image }}">
      <meta property="og:image:height" content="286">
      <meta property="og:image:width" content="507">
      <meta name="twitter:image" content="{{ page.thumb_image }}">
      <meta name="twitter:card" content="summary_large_image">
    {% else %}
      <meta property="og:image" content="https://fumenoid.github.io{% asset '{{ page.thumb_image }}' @path %}">
      <meta property="og:image:height" content="286">
      <meta property="og:image:width" content="507">
      <meta name="twitter:image" content="https://fumenoid.github.io{% asset '{{ page.thumb_image }}' @path %}">
      <meta name="twitter:card" content="summary_large_image">
    {% endif %}
  {% else %}
    <meta property="og:image" content="https://fumenoid.github.io{% asset og-image.jpg @path %}">
    <meta property="og:image:height" content="320">
    <meta property="og:image:width" content="554">
    <meta name="twitter:image" content="https://fumenoid.github.io{% asset og-image.jpg @path %}">
    <meta name="twitter:card" content="summary_large_image">
  {% endif %}

  <link href="https://fumenoid.github.io/{{ 'feed.xml' }}" type="application/rss+xml" rel="alternate" title="{{ site.name }} Last 10 blog posts" />

  {% if site.local_fonts %}
    {% asset fonts.css %}
  {% endif %}

  {% if site.theme_toggle == true %}

    {% if site.blog_theme == "light" %}
      <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
      <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
      <link rel="stylesheet" type="text/css" title="light" id="light" href="{% asset light.css @path%}">
      <link rel="stylesheet" type="text/css" title="dark" id="dark" href="{% asset dark.css @path%}" disabled="true">
    {% else %}
      <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
      <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
      <link rel="stylesheet" type="text/css" title="light" id="light" href="{% asset light.css @path%}">
      <link rel="stylesheet" type="text/css" title="dark" id="dark" href="{% asset dark.css @path%}" disabled="false">
    {% endif %}

  {% else %}

    {% if site.blog_theme == "light" %}
      <link rel="icon" type="image/x-icon" href="{% asset favicon-light.ico @path %}">
      <link rel="apple-touch-icon" href="{% asset apple-touch-icon-light.png @path %}">
      {% asset light.css %}
    {% else %}
      <link rel="icon" type="image/x-icon" href="{% asset favicon-dark.ico @path %}">
      <link rel="apple-touch-icon" href="{% asset apple-touch-icon-dark.png @path %}">
      {% asset dark.css %}
    {% endif %}

  {% endif %}

</head>
